*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height:20vh;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    box-shadow: 0px 3px 3px black;

}
header nav{
    display: flex;
  gap: 20px;
  padding-right: 40px;
  padding-top: 10px;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

body{
    overflow-x: hidden;
}
main{
    width: 100%;
    flex-direction: column;
    display: flex;
    /* flex-direction: column; */
    box-shadow: 3px 3px 3px black,-3px -3px 3px black;

position: relative;

}
main .sec-1{
    width:100% ;
    height: 100vh;
    text-shadow: 0px 3px 3px black;
    background: linear-gradient(black,red);
    color: white;
  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out;
position: relative;
  transition: 2s ease-in-out all;

}
@keyframes color {
    0%{
        background: linear-gradient(black,red);
    }
    25%{
        background: linear-gradient(rgb(61, 36, 12),rgb(117, 129, 8));
    }
    50%{
        background: linear-gradient(rgb(78, 99, 5),rgb(3, 121, 105));
    }
    75%{
        background: linear-gradient(rgb(40, 4, 87),rgb(99, 2, 74));
    }
    100%{
        background: linear-gradient(black,red);
    }
}
main .sec-1 h2{
    font-size: 100px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: big;
    animation-duration: 50s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes big {
    50%{
        transform: translateX(300px);
    }
}
.sec-1 .scrol{
    display: flex;
    /* flex-wrap: nowrap; */
    white-space: nowrap;
    width: 100%;
    gap: 20px;
animation-name: slid;
animation-duration: 40s;
animation-iteration-count: infinite;
    align-items: center;
   position: absolute;
   transform:translateX(-2500px)


}
@keyframes slid {
    100%{
        transform:translateX(2500px)


    }
}
 .scrol h4{
    font-size: 80px;
    /* display: inline-block; */
   
}
main .sec-1 h3{
    text-align: left;
    padding-left: 30px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: upper;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes upper {
    0%{
        transform: translateY(-500px);
    }
}
.sec-2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    height: 40vh;
    padding: 10px;
    height: 100vh;
}
.sec-2 .card{
    background-color: blue;
    box-shadow: 3px 3px 3px black,-3px -3px 3px black;
    padding: 20px;
    color: white;
    overflow: hidden;

}
.sec-2 .card img{
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 3px 3px black,-3px -3px 3px black;
    transition: all ease-in-out .5s;

}
.sec-2 .card img:hover{
    transform: scale(1.1);
}
#card-3{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 10px;
    padding: 5px;
}
#card-3 img{
object-fit: cover;
object-position: center;
padding-top: 10px;
}
.sec-2 .card img{
width: 100%;
height: 95%;

}
.sec-2 .card h2{
   text-shadow: 3px 3px 3px black,-3px -3px 3px black;
    
}
.sec-2 .card hr{
    height: 5px;
    box-shadow: 3px 3px 3px black,-3px -3px 3px black;

}
.sec-3{
    width: 100%;
    height: 100vh;
   
    background-color: rgba(14, 5, 5, 0.877);
    color: white;
   
}
.sec-3 h2{
    font-size: 30px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 3px 3px 3px black,-3px -3px 3px black;

}
#img{
    border-radius: 50%;
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 30%;
    border: 5px solid white;
    animation-name: me;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    
}
.main::-webkit-scrollbar{
    display: none;
}
@keyframes me {
    100%{
        transform: rotate(360deg);
    }
}
.sec-3 .exp{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 10PX;
    margin: 5px;
    gap: 5px;
    text-shadow: 3px 3px 3px black,-3px -3px 3px black;

}
.sec-3 .exp span{
    box-shadow: 3px 3px 3px black,-3px -3px 3px black;
    
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    margin-left: 20px;

}
.sec-3 .exp span:nth-child(1){
    width: 95%;
    height: 35px;
    background-color: red;
    animation-name: flow;
    animation-duration: 6s;
    animation-iteration-count: 3;

}
.sec-3 .exp span:nth-child(2){
    width: 86%;
    height: 35px;
    background-color: rgb(17, 0, 255);
    animation-name: flow;
    animation-duration: 6s;
    animation-iteration-count: 3;

}
.sec-3 .exp span:nth-child(3){
    width: 80%;
    height: 35px;
    background-color: rgb(167, 185, 5);
    animation-name: flow;
    animation-duration: 6s;
    animation-iteration-count: 3;

}
.sec-3 .exp span:nth-child(4){
    width: 75%;
    height: 35px;
    background-color: rgb(0, 255, 13);
    animation-name: flow;
    animation-duration: 6s;
    animation-iteration-count: 3;

}
@keyframes flow {
    0%{
        width: 0;
    }

    
}

.con{
    width: 100%;
    height: 20vh;
    border: 2px solid black;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.con h2{
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: normal;
}




@media(max-width:768px){
    main{
        width: 100%;
     
        display: flex;
        flex-direction: column;
        color: white;
    
        #img{
            border-radius: 50%;
            width: 100px;
            position: absolute;
            left: 40%;
            bottom: 5%;
            border: 5px solid white;
            
        }
    }
    body{
        overflow-x: hidden;
    }
    main .sec-1{
        width:100% ;
        height: 60vh;
        /* text-align: center; */
        background: linear-gradient(black,blue);
        overflow-x: hidden;
    box-shadow: 0px 3px 3px black;

      
    
    }
    main .sec-1 h2{
        font-size: 50px;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    main .sec-1 h3{
        text-align: left;
        font-size: 30px;
        font-family: '', Geneva, Verdana, sans-serif;
        padding: 5px;
     
    }
    .sec-2{
      min-width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        padding: 10px;
        height: 100%;
       
    }
}